* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.logo {
  max-width: 100%;
}

.menu {
  height: 7rem;
  display: flex;
  padding: 1rem 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.photosIntro,
.column {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.photosIntro {
  padding: 0 5rem;
}

.photo {
  max-height: 400px;
  max-width: 100%;
  border-radius: 9px;
}

.column {
  flex-direction: column;
}

section.content {
  padding: 3rem 6rem;
  max-width: 1800px;
  margin: 0 auto;
}

.title1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
}

.text1 {
  font-size: 16px;
  font-weight: 300;
  width: 50%;
}