* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  max-width: 1800px;
}

.logo {
  max-width: 100%;
}

.menu {
  height: 7rem;
  display: flex;
  padding: 1rem 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}