* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.logo {
  max-width: 100%;
}

.menu {
  height: 7rem;
  display: flex;
  padding: 1rem 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.photosIntro,
.column {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.photosIntro {
  padding: 0 5rem;
}

.photo,
.card-photo {
  max-height: 400px;
  max-width: 100%;
  border-radius: 9px;
}

.column {
  flex-direction: column;
}

section.hero {
  padding: 3rem 6rem;
  max-width: 1800px;
  margin: 0 auto;
}

.title1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
}

.text1 {
  font-size: 16px;
  font-weight: 300;
  width: 50%;
}

.card-container {
  padding-left: 6rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.card-image-container {
  position: relative;
}

.availability {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #fff;
  border-radius: 2px;
  padding: 4px 6px;
}

.info {
  display: flex;
}

.info>p {
  margin: 0;
  padding-left: 4px;
}

.info-container {
  padding-top: 9px;
}

.star {
  max-height: 20px;
  max-width: 100%;
}

.gray {
  color: #918E9B;
}

.strong {
  font-weight: 600;
}